*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body{
  font-family:'Raleway',sans-serif
}

.main-header{
  background: linear-gradient(83.1deg, rgba(154, 46, 52, 0) -0.08%, #C87B4D 93.59%),url('../assets/banner.jpg'),no-repeat,fixed;
  background-size: cover;
  height: 100vh;
  background-position: center,center;
  color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}


.main-header nav ul{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.main-header .header-center{
display: flex;
flex-direction: column;
align-items: center;
padding: 50px 0px;
}

.main-header .header-center h1{
  font-weight: 800;
  font-size: 48px;
}
.main-header .header-center img{
margin: 40px 0;
}
.main-header .header-center p{
width: 50%;
text-align: center;
}

.main-header section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .btn{
display: inline-block;
width: 150px;
padding: 10px;
border: 1px solid orange;
border-radius: 100px;
text-align: center;
}

.main-header section ul{
  display: flex;
}
.main-header section ul li{
  margin: 0 10px;
}

/*Footer CSS*/
/*Primera Seccion CSS*/
.main-footer{
  background-color: #C87B4D;
  font-family:'Raleway',sans-serif;
  display:flex;
  flex-direction: column;
}

.main-footer .primeraSection{
display: flex;
justify-content: space-between;/*Espacio entre Iconos y palabras*/
padding: 30px 0px;
}

.main-footer .primeraSection .Logos{
   padding-right: 60px;
}
.main-footer .primeraSection .Logos img{
    padding: 10px 10px;
}

.main-footer .Negritas {
  display: flex;
  font-weight: bold;
}

.main-footer .Negritas li{
  padding: 10px 50px;/* Espacio entre palabras primera section*/
}

/*Segunda Seccion  CSS*/

.main-footer .segundaSection {
 display: flex;
 justify-content: space-between;
}
.main-footer .segundaSection .RedesSociales{
  display: flex;
}

.main-footer .segundaSection .RedesSociales li{
  padding:10px 30px ;
}
.main-footer .segundaSection .RedesSociales p {
  font-weight: bold;
}
.main-footer .segundaSection .techTalent{
   display: flex;
   padding-right: 40px;
}

/*Tercera Seccion  CSS*/
.main-footer .terceraSection{
  text-align: center;
}