*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
}

body{
  font-family:'Raleway',sans-serif
}
ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: white;
}

.main-header{
  background: linear-gradient(83.1deg, rgba(154, 46, 52, 0) -0.08%, #C87B4D 93.59%),url('../assets/banner.jpg'),no-repeat,fixed;
  background-size: cover;
  height: 100vh;
  background-position: center,center;
  color: white;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-header nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header nav ul{
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.main-header .header-center{
display: flex;
flex-direction: column;
align-items: center;
padding: 50px 0px;
}

.main-header .header-center h1{
  font-weight: 800;
  font-size: 48px;
}
.main-header .header-center img{
margin: 40px 0;
}
.main-header .header-center p{
width: 50%;
text-align: center;
}

.main-header section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .btn{
display: inline-block;
width: 150px;
padding: 10px;
border: 1px solid orange;
border-radius: 100px;
text-align: center;
}

.main-header section ul{
  display: flex;
}
.main-header section ul li{
  margin: 0 10px;
}
/*----------------------------------------------------------------------*/
/*Main CSS*/
.main-Section{
 display:flex;
 flex-direction: row;
 flex-wrap:wrap;
 justify-content: space-around;
}

.main-Section .articles{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background:white;
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12);
  border-radius: 8px; 
  padding: 10px 10px 10px 10px;
  margin: 50px 0px 50px 50px;
}

.main-Section .div1{
  padding: 10px 20px 10px 20px;
}
.main-Section .div2{
display: flex;
justify-content: space-between;
padding:10px 20px 10px 20px;
}

.main-Section .div3{
  display: flex;
  justify-content: space-between;
  padding:10px 20px 20px 20px;
}

.main-Section  .div3 nav {
display: flex;/*si lo quito todo se descompone*/

}

.main-Section .div3 .iconoTexto{
  display: flex;/*Para poder acomodarlos correctos*/
  
}
.main-Section .div3 .iconoTexto li{
margin: 0px 25px 10px 10px;/*Espacio entre logo y texto*/
}

.main-Section .div3 .barraBotones{
  display: flex;/*Para poder acomodarlos correctos*/
}
.main-Section .div3 .barraBotones li{
  margin: 0px 5px 0px 0px; /*Espacio entre botones*/
}






/*----------------------------------------------------------------------*/
/*Clases prefabricadas para botones*/
.main-Section .div3 .barraBotones .btnDev{
display: inline-block;
width: 150px;
padding: 10px;
text-align: center;
background: #F2994A;
border-radius: 16px;
}
.main-Section .div3 .barraBotones .btnMVP{
  display: inline-block;
  width: 150px;
  padding: 10px;
  text-align: center;
  background:#221413;
  border-radius: 16px;
}
.main-Section  .div3 .barraBotones .btnUX{
    display: inline-block;
  width: 150px;
  padding: 10px;
  text-align: center;
  background: #F5CC6A;
  border-radius: 16px;
  
}

/*----------------------------------------------------------------------*/
/*Footer CSS*/
/*Primera Seccion CSS*/
.main-footer{
  background-color: #C87B4D;
  font-family:'Raleway',sans-serif;
  display:flex;
  flex-direction: column;
}

.main-footer .primeraSection{
display: flex;
justify-content: space-between;/*Espacio entre Iconos y palabras*/
padding: 30px 0px;
}

.main-footer .primeraSection .Logos{
   padding-right: 60px;
}
.main-footer .primeraSection .Logos img{
    padding: 10px 10px;
}

.main-footer .Negritas {
  display: flex;
  font-weight: bold;
}

.main-footer .Negritas li{
  padding: 10px 50px;/* Espacio entre palabras primera section*/
}

/*Segunda Seccion  CSS*/

.main-footer .segundaSection {
 display: flex;
 justify-content: space-between;
}
.main-footer .segundaSection .RedesSociales{
  display: flex;
}

.main-footer .segundaSection .RedesSociales li{
  padding:10px 30px ;
}
.main-footer .segundaSection .RedesSociales p {
  font-weight: bold;
}
.main-footer .segundaSection .techTalent{
   display: flex;
   padding-right: 40px;
}

/*Tercera Seccion  CSS*/
.main-footer .terceraSection{
  text-align: center;
}